/* 전체 프레임 */

:root {
  --vh: 100%;
  --vw: 100%;
}


.app-container {

    width: 393px; 
    height: calc(var(--vh, 1vh) * 100);
    background-color: #fff2f2;
    font-family: Pretendard;
  }

  @font-face {
    font-family: Pretendard;
    src: url("./font/Pretendard-Regular.otf");
  }
  
  div {
    font-family: Pretendard;
  }